<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Live Coding WebGL</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>

    <div id="editor_js"> </div>
    <div id="editor_vert"> </div>
    <div id="editor_frag"> </div>
    <div id="logs"> </div>
    <iframe src="triangles.html" id="webglwindow"></iframe>

    <script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/liveeditor.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>
